/*Paletas de colores*/

$color-negro: #000;
$color-blanco:#ffffff;
$color-rojo:#de4f49;
$color-fondos: #f5f5f7;
$color-letras:  #212121;
$color-gradientes:#bbbbbb;

/*Fuente pagina*/

$fuente-principal: "Lato", sans-serif;

/*Tamaños de fuentes*/

$fuente-chica: 14px;
$fuente-media: 20px;
$fuente-grande: 40px;

/*Tamaños de iconos*/

$icono-chico: 40px;
$icono-medio: 60px;
$icono-grande: 120px;

/*Separaciones*/

$espacios-chicos: 10px;
$espacios-medios: 40px;
$espacios-grandes: 60px;

/*MIXINS*/

@mixin flex-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}
