
.padre-cards {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

@media (min-width: 768px) {
    .padre-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        padding-left: 5%;
    }
}

@media (min-width: 992px) {
    .padre-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        padding-left: 11%;
    }
}

.card {
    width: 280px;
    background-color: $color-blanco;
    color: $color-letras;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    text-align: left;
    &:hover{transform: scale(1.1); transition: all 0.5s}
}

.card button  {@include button}

.arriba {
    width: 50px;
    position: absolute;
    left: 90%;
    bottom: 100%;

}

.nuevo {
    position: absolute;
    top: 7%; 
    left: 80%;
    background-color: $color-rojo;
    color: $color-fondos;
    transform: rotate(25deg);
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}
