
/*Estilo de textos*/
*{
    margin: 0;
    padding: 0;}

    body {
    background-color: #f5f5f7;
    font-family: 'Lato', sans-serif;
    color: #212121;}

a {
    text-decoration: none;
    color: #212121;
}

/*Estilo de titulos*/
h1 {
    text-align: center;
    position: sticky;
    top: 30px;
padding: 1%;}

.subtitulo {
    font-weight: 400;
    text-align: center;
    padding: 1%;
}

p {
    text-align: center;
    padding: 1%;
}

/*Estilo de banners*/
.banner__inicio {
    background-image: url(../imagenes/ofi\ 2\ .jpg);
    height: 580px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (min-width: 768px) {    
    .banner__inicio {   background-color: rgb(235, 83, 83);
    color: white;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    font-size: smaller;
    margin-top: 20px;
    overflow: visible;
    text-align: center;
}}

.banner__servicios {
    background-image: url(../imagenes/monitoreo.jpg);
    height: 580px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner__sobreloar {
    background-image: url(../imagenes/team2.png);
    height: 580px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner__trabaja {
    background-image: url(../imagenes/team.jpg);
    height: 580px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner__contacto {
    background-image: url(../imagenes/team3.jpg);
    height: 580px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Estilo de carousel*/
.carousel-caption  { 
    background-color: #f5f5f78a;
    max-width: 50%;
    margin: 0 auto;}

.carousel {font-size: small;}

@media (min-width: 992px) {
    #carouselExampleDark img {
        max-width: 50%;
        margin: 0 auto;}
}

@media (min-width: 768px) 
{.carousel {font-size: large;}}

/*fondos*/

.gradientes {
    background-image: linear-gradient(to bottom,#f5f5f7, #f5f5f78a, #5050538a,);
}

