header {
    position: sticky; 
    top: 0;
    z-index: 1;
    background-color: #bbbbbb;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    align-items: right;
    background-image: linear-gradient(to bottom, #bbbbbb, #f5f5f7);
}

.header__logo {
    width: 130px;
padding: 10%;
margin-left: 10%;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right; 
    a{&:hover{color: #de4f49;
        font-weight: bolder;transition: all 0.7s;}}

}

@media (min-width: 768px) {.navbar {padding-left: 45%;
text-align: center;
justify-content: space-evenly;}} 

@media (min-width: 768px) {.header__logo { margin-left: 70%;}}
